*.pyc
workspace/
.env
web/node_modules/
api/run_local.sh
api/run_docker_os.sh
api/venv/
api/pyvenv.cfg
*.log
/api/app.log
.DS_Store
.idea
/.venv
.DS_Store
api/app.log
web/pnpm-lock.yaml
web/src/constant/config.js
api/app/assets/files/*
